<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>[%-5level %d{yyyy-MM-dd HH:mm:ss} [%thread] %logger] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">  
        <file>F:\\logs\\baiduzhidao-crawler.log</file>  
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
            <fileNamePattern>F:\\logs\\baiduzhidao-crawler.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>  
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">  
            <pattern>[%-5level %d{yyyy-MM-dd HH:mm:ss} [%thread] %logger] - %msg%n</pattern>
        </encoder>  
    </appender>
    
	<logger name="com.networkbench" level="DEBUG"/>   
	<logger name="cn.edu.buaa" level="DEBUG"/>
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="file" />
	</root>
</configuration>